<div class="section-body">
  <div class="container-fluid" appCdModeDirective>
    <div class="d-flex justify-content-between align-items-center">
      <div class="header-action">
        <h1 class="page-title">{{homeTitle}}</h1>
      </div>
      <ul class="nav nav-tabs page-header-tab">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab">{{homeTitle}}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="section-body mt-4">

  <!-- <div class="bxs rounded-2xl pt-1"> -->
  <div class="d-flex justify-content-end m-4">
    <button type="button" class="btn btn-primary" (click)="openCreateForm()">Create</button>
  </div> 
  <app-cd-ticket-table-component />
</div>