.mat-mdc-table {
  background-color: unset !important;
}

.tableheadercolor {
  background-color: #86efac !important;
}

.dark-mode .table.table-custom th {
  background-color: #161817 !important;
}

.table {
  td {
    cursor: pointer;
  }
}